
<hr style="border:1px solid #FC8EC4;" />
<table width="100%" border="0" style="padding-top:10px" cellspacing="0" cellpadding="0">
    <tr>
        <td class="bodycopy">         
			<p>
            	Hola <strong>{{nombre}}</strong>,           
            </p>
            <p>
            	Te damos la bienvenida ya eres parte de <strong>{{nombre_sucursal}}</strong> .
            </p>                        
        </td>
    </tr>
</table>
<p>Por favor revisa tu registro </p>
<table width="100%" border="0" style="padding-top:10px" cellspacing="1" cellpadding="1">	
    <tr>
        <td><strong>Nombre Corto</strong></td>
        <td>{{alias}}</td>        
    </tr>            
    <tr>
        <td><strong>Nombre</strong></td>
        <td>{{nombre}}</td>        
    </tr>                
    <tr>
        <td><strong>Entrada</strong></td>
        <td>{{hora_entrada}}</td>        
    </tr>
    <tr>
        <td><strong>Salida</strong></td>
        <td>{{hora_salida}}</td>        
    </tr>        
    <tr>
        <td><strong>Correo</strong></td>
        <td>{{correo_alumno}}</td>        
    </tr>
    {{#ver_clave}}          
    <tr>
        <td><strong>Clave</strong></td>
        <td>{{clave}}</td>        
    </tr>
    {{/ver_clave}}          
</table>

<p>* Por favor no compartas tu clave de acceso. </p>
<p>* En caso de haber algún detalle por favor solicita la modificación con el administrador.</p>


<hr style="border:1px solid #FC8EC4;" />

