<table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: middle;
text-align: left;">  
<tr>
    <td style="background-color:#ec378c;padding:0px 0px 0px 10px" colspan="2">
         <span class="h1" style="color: #fff !important;"><strong>{{nombre_sucursal}}</strong></span>
    </td>
</tr>
<tr>
    <td width="80%">
        <span class="h2"> + Cobranza</span>
    </td>
    <td>
        <span class="h2"><strong>${{total_ingreso}}<strong></span>
    </td>
</tr>
<tr>
    <td width="80%">
        <span class="h2"> + Ventas</span>
    </td>
    <td>
        <span class="h2"><strong>${{total_ingreso_venta}}<strong></span>
    </td>
</tr>

<tr>    
    <td width="80%">
         <span class="h2">- Gasto</span>
    </td>
    <td >
        <span class="h2"><strong>${{total_gasto}}</strong></span>
    </td>
</tr>
<tr >
    <td  class="borderbottomTotal" width="80%">
         <span class="h2"><strong> En caja </strong></span>
    </td>
    <td class="borderbottomTotal borderbottom">
        <span class="h2 "><strong>${{total_caja}}</strong></span>
    </td>
</tr>
</table>